body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header, footer {
    background: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

textarea, button, a, input, label {
    font-size: 1rem;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Includes padding and border in element's width */
}

input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="time"]:focus, textarea:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.doctor-card {
    background: rgba(255, 255, 255, 0.9); /* semi-transparent white background */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33.333% - 20px);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.doctor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.doctor-card h2 {
    color: #007bff;
}

.doctor-card p {
    margin: 5px 0;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .doctor-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .doctor-card {
        width: 100%;
    }
}
.confirmation-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.confirmation-container h1 {
    color: #4CAF50;
}

.confirmation-container p {
    font-size: 18px;
    margin: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
.appointment-header {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.appointment-header h1 {
    color: #007bff;
    padding: 20px;
    font-size: 30px;
}






